#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#mouse-pointer {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  /* 커서 가운데정렬 */
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;

  border-radius: 50%;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.3s;
}

#mouse-pointer.hovered {
  transform: scale(4);
}

#title {
  font-family: 'Sedan SC', serif;
  font-size: 1.8rem;
}

#title p {
  margin: 0;
  letter-spacing: -1.5px;
}

#title strong {
  font-size: 4rem;
  line-height: 2.5rem;
}
